/**
 * @package: google-map
 * @FileType: CSS
 * @author RC Adhikari <http://rcadhikari.blogspot.co.uk>
 * Date: 25/08/2015 15:35
 */

.container {
    padding: 20px;
}

.note-tips {
    color: #878787;
    font-size: 12px;
}