/**
 * @package: google-map
 * @FileType: CSS
 * @author RC Adhikari <http://rcadhikari.blogspot.co.uk>
 * Date: 25/08/2015 15:35
 */

.header a {
    font-weight: bold;
    text-decoration: none;
}

.container a {
    text-decoration: none;
    color: #1A92EA;
}
.container a:hover {
    text-decoration: underline;
    color: #1487DC;
}


.container {
    padding: 20px;
}

.note-tips {
    color: #878787;
    font-size: 12px;
}